<ion-header>
  <ion-toolbar>
    <ion-title>
      Questions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </ion-card-content>
  </ion-card>
  <ion-list *ngFor="let question of questions">
    <ion-item>
      <p>{{question.ques}}</p>
      
    </ion-item>
  </ion-list>

  <ion-progress-bar value="0.2"></ion-progress-bar>

</ion-content>