<ion-header>
  <ion-toolbar>
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Mental Health and Psycology</ion-card-subtitle>
        <ion-card-title>Lets Assess you</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </ion-card-content>
    </ion-card>
    
    <ion-progress-bar value="0.2"></ion-progress-bar>

</ion-content>
