<ion-header>
    <ion-toolbar>
        <ion-title style="font-size: 14px">
          Choose a place
          <span>
              <ion-icon name="pin" color="danger"></ion-icon>
          </span>
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One">
        <ion-select-option value="Spiritual">Spritual</ion-select-option>
        <ion-select-option value="Sports">Sports</ion-select-option>
        <ion-select-option value="Recreational">Recreational</ion-select-option>
        
      </ion-select>
  <div id="map_canvas">

  </div>
</ion-content>
